.dropdown-product {
    display: flex;
    align-items: center;
    padding: 20px;
}

.dropdown-product-logo,
.dropdown-product-info-title-icon {
    transition: var(--animation-duration);
}

.dropdown-product-info {
    display: flex;
    flex-direction: column;
    max-width: 160px;
}

.dropdown-product-info-title-icon {
    margin-left: 8px;
}

.dropdown-product-info-title-icon .open {
    transform: rotate(90deg);
}

.dropdown-product-info-title {
    color: #052a5c;
    font-size: 14px;
    font-weight: 500;
}

.dropdown-product-info-description {
    color: #1b4562;
    font-size: 14px;
}

.dropdown-product-wrapper .dropdown-product:first-child {
    margin-top: 0;
}

.dropdown-product:hover .dropdown-product-info-title {
    color: var(--app-color);
}

@media (min-width: 1024px) {
    .dropdown-product {
        align-items: flex-start;
        align-self: flex-start;
        margin: 0;
    }

    .dropdown-product-info-title {
        font-size: 18px;
    }

    .dropdown-product-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 12px;
    }

    .dropdown-product-wrapper-column-direction {
        flex-direction: column;
    }

    .dropdown-product:hover .dropdown-product-info-title-icon {
        transform: rotateZ(90deg);
    }

    .dropdown-product:hover .dropdown-product-logo {
        transform: translate(-10px, -10px);
    }
}