.global-information-container {
    display: flex;
    gap: 24px;
    column-gap: 24px;
    flex-wrap: wrap;
}

.global-information-container .global-information {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 40px 24px;
    border-radius: 8px;
    flex: 1 1 32%;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid #212E74;
}

.global-information-container .global-information span {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1024px) {
    .global-information-container {
        gap: 18px;
        column-gap: 18px;
    }

    .global-information-container .global-information {
        gap: 12px;
        padding: 19px 18px;
    }

    .global-information-container .global-information span {
        font-size: 14px;
    }
}