.container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.container h5 {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.container h2 {
    color: #FFF;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
}

.container h3 {
    color: #FFF;
    text-align: center;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container .info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.questionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #CCDAE7;
    width: 742px;
    padding: 28px;
    cursor: pointer;
    row-gap: 20px;
}

.questionContainer:hover {
    border-bottom: 1px #fff solid;
}

.questionTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.questionAnswer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.questionTitle p,
.questionAnswer p {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.5px;
}

@media (max-width: 768px) {
    .container h2 {
        font-size: 24px;
    }

    .container h3 {
        font-size: 24px;
    }

    .questionContainer {
        width: 343px;
        padding: 16px;
        row-gap: 12px;
    }
    .questionTitle p,
    .questionAnswer p {
        font-size: 14px;
    }
}