.statistics-container {
}
.statistics-container .timeline-1 {
    position: absolute;
    top: -165px;
    left: 19.10%;
    z-index: 1;
}

.statistics-container .timeline-2 {
    position: absolute;
    top: -183px;
    left: 34.5%;
    z-index: 1;
}