.container {
    display: flex;
    align-items: center;
    gap: 90px;
    justify-content: center;
    flex-flow: column nowrap;
}

.container .info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.container .info-container .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 20px;
}

.container h2 {
    color: #FFF;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
}

.container .info-container .info h4 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container .info-container .info p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .container .info-container {
        flex-direction: column;
    }

    .container .info-container .info {
        flex-direction: row;
    }

    .description {
        align-items: flex-start;
        gap: 10px;
    }
}