.first-content {
    padding: 17px 120px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.second-content {
    padding: 500px 120px 17px 120px;
    background: url("../public/assets/second-content-bg.svg");
    background-size: cover;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 128px;
}